{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_messages %}

{% block content %}
    <div class="container" style="margin-top:45px;"></div>

{% if result_record %}



<ul class="list-group">
        <li class="list-group-item list-group-item-info"><b>Task name:</b> {{result_record.task.name}}</li>
        <li class="list-group-item list-group-item-{{ result_record.is_successful|yesno:"success,danger,warning" }}"><b>Task status:</b>   {% bootstrap_icon result_record.is_successful|yesno:"ok-sign,remove-sign,question-sign" %}</li>
        <li class="list-group-item list-group-item-info"><b>Date:</b> {{result_record.date}}</li>
        <li class="list-group-item list-group-item-info"><b>ServiceNow Ticket:</b> {{result_record.snow_number}}</li>
        <li class="list-group-item list-group-item-info"><b>Initiated by:</b> {{result_record.user_signature}}</li>
      </ul>
    
      <div class="panel panel-{{ result_record.is_successful|yesno:"success,danger,warning"}}">
            <div class="panel-heading"><b>Console output:</b></div>
            <div class="panel-body">
                <pre><code>{{result_record.output}}</code></pre>
            </div>
      </div>

     <p align = center><a href="{{ request.META.HTTP_HOST }}/history/{{result_record.get_previous}}/">Previous result</p>
{% else %}
    <p>No results available.</p>
{% endif %}
{% endblock %}