{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
    <div class="container">

{% if task_list.all %}
    <table class="table table-hover">
    <th>{% bootstrap_icon "off" %} </th><th>Environment</th><th>Task Name</th><th>Description</th><th>Last fired</th><th></th>
    {% for tsk in task_list.all %}
        <tr class="">
            <td>{% bootstrap_icon tsk.active|yesno:"check,unchecked" %}</td>
            <td>{{ tsk.environment.name }}</td>
            <td><a href="/tsk/{{ tsk.id }}">{{ tsk.name }}</a></td>
            <td>{{ tsk.description }}</td>
            <td><a href="/history/{{tsk.executionresult_set.last.id}}">{{ tsk.executionresult_set.last.date }}</a></td>
            <td><a href="/tsk/{{ tsk.id }}"><button type="button" class="btn btn-success"   {{ tsk.active|yesno:",disabled" }}   >{% bootstrap_icon "play" %}</button></td></a></td>
        </tr>
    {% endfor %}
    {% for rtsk in rtask_list.all %}
    <tr class="">
        <td>{% bootstrap_icon rtsk.active|yesno:"check,unchecked" %}</td>
        <td>{{ rtsk.environment.name }}</td>
        <td><a href="/rtsk/{{ rtsk.id }}">{{ rtsk.name }}</a></td>
        <td>{{ rtsk.description }}</td>
        <td><a href="/history/{{rtsk.executionresult_set.last.id}}">{{ rtsk.executionresult_set.last.date }}</a></td>
        <td><a href="/rtsk/{{ rtsk.id }}"><button type="button" class="btn btn-success"   {{ rtsk.active|yesno:",disabled" }}   >{% bootstrap_icon "play" %}</button></td></a></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No tasks available.</p>
{% endif %}
{% endblock %}